{% extends 'base.html.twig' %}

{% block headtitle %}Create New User{% endblock %}
{% block body %}
<<<<<<< Updated upstream:app/Resources/views/parameter/new.html.twig
    <h1>Parameter creation</h1>
=======
>>>>>>> Stashed changes:app/Resources/views/Ums/user/new.html.twig

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br/>
        <input type="submit" value="Create" class="btn btn-primary btn-lg" />
    {{ form_end(form) }}
        <hr>
    <ul>
        <li>
<<<<<<< Updated upstream:app/Resources/views/parameter/new.html.twig
            <a href="{{ path('parameter_index') }}">Back to the list</a>
=======
            <a class="btn btn-default btn-sm" href="{{ path('Ums_index') }}">Back to the list</a>
>>>>>>> Stashed changes:app/Resources/views/Ums/user/new.html.twig
        </li>
    </ul>
{% endblock %}
