{% extends 'base_login.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
    <div class="col-xs-1 col-sm-2"></div>
    <div class="col-xs-10 col-sm-8">
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Welcome, please complete your registration by filling the form</h3>
          <span>If you are an Agent, please fill the Email field with your corporate Email!.</span>
        </div>
        <div class="panel-body">
          {{ form_start(form) }}

          {{ form_row(form.usrFirstName, { 'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.usrLastName, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.usrEmail, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.usrPhoneNumber, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
          {{ form_rest(form) }}
          <br/>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
          </form>
      </div>
    </div>
    <div class="col-xs-1 col-sm-2"></div>
{{ form_end(form) }}
{% endblock %}