{% extends 'base.html.twig' %}

{% block body %}
{% block headtitle %}Users List{% endblock %}
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>State</th>
                <th>Profile</th>
                <th>Read Privilege</th>
                <th>Created</th>
                {% if sec["role"] == 'ROLE_ADMIN' %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for userlist in users %}
            <tr>
                <td>{{ userlist.usrFullName }}</td>
                <td>{{ userlist.usrEmail }}</td>
                <td>{{ userlist.usrPhoneNumber }}</td>
                <td>{% if userlist.usrState %}Active{% else %}Inactive{% endif %}</td>
                <td>{{ userlist.pru.pruName }}</td>
                <td>{% if userlist.usrGrantList %}Yes{% else %}No{% endif %}</td>
                <td>{% if userlist.usrCreationDate %}{{ userlist.usrCreationDate|date('Y-m-d') }}{% endif %}</td>
                {% if sec["role"] == 'ROLE_ADMIN' %}
                <td><a class="btn btn-info" href="{{ path('Ums_edit', { 'usrId': userlist.usrId }) }}">Edit</a></td>
                <td><a class="btn btn-danger" href="{{ path('Ums_delete', { 'usrId': userlist.usrId }) }}">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if sec["role"] == 'ROLE_ADMIN' %}
    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('Ums_new') }}">Create a new user</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
