{% extends 'base.html.twig' %}

{% block headtitle %}User Information{% endblock %}
{% block body %}
    <ul>
        <li>
            <a class="btn btn-info" href="{{ path('Ums_edit', { 'usrId': user.usrId }) }}">Edit</a>
        </li>
        {% if user.pru.pruId != 7 %}
        <li>
            <a class="btn btn-primary" href="{{ path('Ums_index') }}">Back to the list</a>
        </li>
        {% endif %}
    </ul>
    <table class="table table-hover table-responsive">
        <tbody>
            <tr>
                <th>First name: </th>
                <td>{{ user.usrFirstName }}</td>
            </tr>
            <tr>
                <th>Last name:</th>
                <td>{{ user.usrLastName }}</td>
            </tr>
            <tr>
                <th>Email: </th>
                <td>{{ user.usrEmail }}</td>
            </tr>
            <tr>
                <th>Phone number: </th>
                <td>{{ user.usrPhoneNumber }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
